h1 {
    color: red;
}

.class-1 {
    color: blue;
    font-size: 16px;
}

#my-id {
    color: yellow;
    font-size: 20px;
    font-weight: bold;
  }

  a:hover {
    color: red;
  }

  .my-box {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
  }